# Assignment : CHI-SQUARE TESTING

In [1]:
import scipy.stats as st
import pandas as pd

.Association between Device Type and Customer Satisfaction
.Background:
Mizzare Corporation has collected data on customer satisfaction levels for two types of smart home devices: Smart Thermostats and Smart Lights. They want to determine if there's a significant association between the type of device purchased and the customer's satisfaction level.
.Data Provided:
The data is summarized in a contingency table showing the counts of customers in each satisfaction level for both types of devices:
.Satisfaction	 Smart Thermostat	Smart Light	  Total
.Very Satisfied	      50	           70	       120
.Satisfied	          80	          100	       180
.Neutral	          60	           90	       150
.Unsatisfied	      30	           50	        80
.Very Unsatisfied     20	           50	        70
.Total	              240	           360	        600
.Objective:
To use the Chi-Square test for independence to determine if there's a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.
Assignment Tasks:
1. State the Hypotheses:
2. Compute the Chi-Square Statistic:
3. Determine the Critical Value:
Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)
4. Make a Decision:
Compare the Chi-Square statistic with the critical value to decide whether to reject the null hypothesis.

In [2]:
st.chi2_contingency

In [3]:
from scipy.stats import chi2_contingency

In [4]:
df=pd.read_csv(r"C:\Users\durwa\Downloads\chi-square test data.csv")
df
#observed frequency table is already given.

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [5]:
pd.crosstab(index=df['Smart Thermostat'],columns=df['Smart Light'])

Smart Light       50   70   90   100  360
Smart Thermostat
20                  1    0    0    0    0
30                  1    0    0    0    0
50                  0    1    0    0    0
60                  0    0    1    0    0
80                  0    0    0    1    0
240                 0    0    0    0    1

In [6]:
obs=pd.crosstab(index=df['Smart Thermostat'],columns=df['Smart Light'])

In [7]:
chi2_contingency(obs)

Chi2ContingencyResult(statistic=24.000000000000007, pvalue=0.2423921616705121, dof=20, expected_freq=array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667]]))

In [8]:
chi2,p,dof,exp  = chi2_contingency(obs)

In [9]:
chi2

24.000000000000007

In [10]:
p

0.2423921616705121

In [11]:
dof

20

In [12]:
exp

array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667]])

In [13]:
alpha=0.05
critical_value=st.chi2.ppf(1-alpha,dof)
critical_value

31.410432844230918

In [14]:
if chi2 < critical_value:
    print("Reject Null Hypothesis.there's a significant association between the type of device and the customer satisfaction.")
else:
    print("Fail to reject null hypothesis.there's no significant association between the type of device and the customer satisfaction.")

Reject Null Hypothesis.there's a significant association between the type of device and the customer satisfaction.